{% extends 'base.html' %}
{% load static %}
{% block contant %}
<!-- User home navbar -->
<div class="container">
        <div class="modal-dialog mt-2">
            <div class="modal-content">
                <div class="modal-header nav_bg text-white">
                    <h5 class="modal-title" id="inquiryModalLabel">
                        <i class="far fa-address-card"></i> Profile</h5>
                </div>
                <div class="modal-body">
                    <div class="card" style="max-width: 540px;">
                            {% if user_details.profile_picture %}
                                <img class="rounded-circle m-auto"
                                    src="{{user_details.profile_picture.url}}" width="180" height="180"/>
                            {% else %}
                            <img class="rounded-circle m-auto"
                                src="{% static 'img/default_dp.jpg' %}" width="180" height="180"/>
                            {% endif %}
                            <div class="card-body m-auto">
                              <h4 class="card-title ml-4">{{ user_details.first_name }} {{ user_details.last_name }}</h4>
                            </div>
                    </div>
                    <hr>
                    <!-- Alerts -->
                        <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input class="form-control" type="text" value="{{ user_details.first_name }}" readonly>
                        </div>
                        <div class="form-group">
                        <label for="last_name">Last Name</label>
                        {{ user_details.last_name }}
                        <input class="form-control" type="text" value="{{ user_details.last_name }}" readonly>
                        </div>
                        <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control" type="text" value="{{ user_details.username }}" readonly>
                        </div>
                        <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" value="{{ user_details.email }}" readonly>
                        </div>
                        <div class="form-group">
                        <label for="phone">Phone</label>
                        <input class="form-control" type="text" value="{{ user_details.phone_number }}" readonly>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contant %}
